/* ROOT */
:root{
    --main-bg-color1:  #1abc9c;
    --secondary-bg-color:#3a546d;
    --secondary-bg-color1: #2c3e50;
}

header {
    background-color: var(--main-bg-color1);
}

.section#jumbo {
    background-color: #a328c2;
}

.my-content-img {
    background-color: #a328c2;
    height: 300px;
    border: 1px solid white;
}

.about {
    background-color: var(--main-bg-color1);
}

.top-footer {
    background-color: var(--secondary-bg-color);
    height: 300px;
}


.bottom-footer {
    background-color: var(--secondary-bg-color1);
    height: 100px;
}
