/* ROOT */
:root{
    --main-bg-color: #1abc9c;
    --secondary-bg-color:#3a546d;
    --secondary-bg-color1: #2c3e50;
    --text-color: #333333;
}

body {
    font-family: 'Lato', sans-serif;
}

.main-bg {
    background-color: var(--main-bg-color);
}

.a-color {
    color: var(--main-bg-color);
}

.nav-bg,
.bottom-footer {
    background-color: var(--secondary-bg-color1);
}

.top-footer-bg {
    background-color: var(--secondary-bg-color);
}

.text-color {
    color: var(--text-color);
}

.avatar {
    max-width: 250px;
}

.empty {
    width: 15%;
    max-width: 90px;
}
